:root {
    --clr--accent-color: black;
    --clr--text--color: white;
}

@media  only screen and (max-width: 500){
    .Container {
        transform: scale(0.85);
    }
}

* {
    font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(255,0,212);
    background: linear-gradient(87deg, rgb(140, 47, 210) 0%, rgba(82,119,245,1) 100%); 
}

.Container {
    position: relative;
    display: flex;
    height: 500px;
    width: 400px;
    border: 1px solid transparent;
    box-shadow: 0 10px 20px 10px rgb(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: white;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.startingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.startBtn {
    background-color: var(--clr--accent-color);
    color: var(--clr--text--color);
    width: 40%;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
}

.startBtn:active {
    transform: scale(0.9);
}

.startBtn:hover {
    transform: scale(1.1);
}


.startingPage .Logo {
    height: 25%;
    width: 40%;
    background-image: url(./Assets/Logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.categorySelection {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    transform: translateY(-100%);
}

.categorySelection div {
    display: grid;
    place-items: center;
    height: 50px;
    width: 90%;
    border-radius: 12px;
    background-color: var(--clr--accent-color);
    color: var(--clr--text--color);
    transition: all 0.3s ease-in-out;
}

.categorySelection div:hover {
    transform: scale(1.05);
    border: 2px solid lightgreen;
}

.quizPage {
    display: none;
}

.quizPage, .ResultPage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
}

.quizPage {
    transform: translateX(100%);
}

.ResultPage {
    transform: translateX(-100%);
}

.quizPage .Question {
    font-weight: 700;
    text-align: center;
}

.quizPage .Options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 40%;
    width: 90%;
}

.quizPage .Options div {
    width: 90%;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--clr--accent-color);
    color: var(--clr--text--color);

}

.quizPage .startBtn {
    border: 1px solid;
}

/* Javascript Classes */

.selected {
    border: 4px solid lightskyblue;
}

.correctAnswer {
    border: 4px solid lightgreen;
}

.wrongAnswer {
    border: 4px solid tomato;
}